<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GDE | Grau de Deterioração das Estruturas (Versão BETA 1.0.0)</title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/page-table.css">
    <link rel="stylesheet" href="/styles/styleTable.css">


    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">

    <script src="/scripts/makeTable.js" defer></script>
</head>

<body id="page-table">

    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    Início
                </a>
                <a href="/">
                    Sobre nós
                </a>
            </div>

            <div class="header-content">
                <strong>GDE | Grau de Deterioração das Estruturas (Versão BETA 1.0.0)</strong>
            </div>
        </header>

        <main>
            <table>
                <tr>
                    <th>Elemento</th>
                    <th>Pavimento</th>
                    <th>Grau de Dano</th>
                    <th>Grau de Dano Máximo</th>
                    <th>GDE</th>
                    <th>Nível de Deterioração do Elemento</th>
                    <th>Grau de Dano Máximo da Estrutura</th>
                    <th>GDF</th>
                    <th>GD</th>
                    <th>Nível de Deterioração Global</th>
                    <th>Ação a ser adotada</th>
                </tr>

            </table>
            <p class="no-results">Obrigado</p>

            <p>Caso você não seja um profissional habilitado da área da construção civil. Recomendamos entrar em contato
                com um profissional da área.</p>

            <footer>
                <p><strong>Bacharelando em Engenharia civil e Desenvolvedor do Site:</strong>
                </p>
                <p><strong>Allyson Reis Vieira de Aguiar</strong>
                </p>
            </footer>
        </main>
    </div>

</body>

</html>